.firstpub{
    color: #FF6E42;
}
.firstpub a{
    color: #FF6E42;
}

.aboutme{
    font-family: Serif ;
    background-color: #000041;
    color: #FFFFFF;
    margin-bottom: 1.6em;
    margin-top: 1.6em;
}

.aboutme td{
    font-family: Sans-serif ;
    font-size: 30px;
    background-color: #000041;
    text-align: right;
    color: #FFFFFF;
}

.aboutme a:link{
    color: #FEDBD2;
}
.aboutme a:visited{
    color: #CCD7EF;
}
.aboutme a:hover{
    color: #FF6E42;
}
.aboutme a:active{
    color: #FF6E42;
}

.aboutme img{
    border-radius: 50%;
    margin-right: 1.6em;
}

h1 h2 h3 h4 {
    color: #000041;
    font-family: Sans-serif ;
    font-size: 16px;
}

h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #000041;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
